<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<% include ../partials/nav %>

      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
          <span id="rootFolder" style:"display:none;" data-id="<%= submissionFolder %>"></span>
          <span id="companyName" style:"display:none;" data-company="<%= user.user_metadata.Company %>"></span>
          <span id="firstName" style:"display:none;" data-first-name="<%= user.user_metadata.FirstName %>"></span>
          <span id="lastName" style:"display:none;" data-last-name="<%= user.user_metadata.LastName %>"></span>
          <span id="contact-address" style:"display:none;" data-contact-address="<%= user.displayName %>"></span>
          <h3 class="sub-header">
            <a href="<%= domain %>/landing" class="navText"> Open RFPs</a> <i class="fa fa-chevron-right smaller" aria-hidden="true"></i> 
            <a href="#" class="navText"><%= rfpName %></a> <i class="fa fa-chevron-right smaller" aria-hidden="true"></i> 
            <span class="navText">Submit</span>
          </h3>
          <br>
          
          <form>
            <div class="form-group">
              <label for="name"><%= user.user_metadata.FullName %></label>
              <br>
              <%= user.nickname %>
              <input type="hidden" class="form-control" id="name" aria-describedby="emailHelp" value="<%= user.nickname %>">
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" id="company" value="<%= user.user_metadata.Company %>">
            </div>
            <div class="form-group">
              <label for="primaryContactEmail">Primary Contact Email</label>
              <input type="email" class="form-control" id="primaryContactEmail" value="<%= user.displayName %>">
            </div>

            <br>

            <label for="uploadedFiles">Submit files to the RFP:</label>
            <div id="box-explorer" class="fluid-container">
              <div class="row">
                <div class="col-md-8">
                  <ul id="flashMessage" class="list-group"></ul>
                </div>
              </div>
              <div class="row">
                <%- include ../partials/upload-commands.ejs %>
              </div>
            </div>
            <div id="box-upload" class="fluid-container">
              <div class="row">
                <%- include ../partials/upload-progress.ejs %>
              </div>
            </div>

            <div id="actions">
              <button type="submit" class="start btn btn-primary btn-lg pull-right">Submit</button>
            </div>
          </form>

        </div>


          <%- include ../partials/scripts %>
  <script src="<%= domain %>/javascripts/BoxSdk.min.js.map"></script>
  <script src="<%= domain %>/javascripts/BoxSdk.min.js"></script>
  <script src="<%= domain %>/javascripts/users/upload.js"></script>
  <script type="text/javascript">
    var boxAccessToken = '<%= accessTokenInfo.accessToken %>';
    var id_token = '<%= user.id_token %>';

    var box = new BoxSdk();
    var boxClient = new box.BasicBoxClient({accessToken: boxAccessToken});
    var boxClientOptionsOnly = new box.BasicBoxClient({accessToken: boxAccessToken, noRequestMode: true});
  </script>

</body>
</html>